<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itheima.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <!-- 权限 -->
	<uses-permission android:name="android.permission.INTERNET"/><!-- 访问网络权限 -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 读SD卡权限 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!-- 写SD卡权限 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/><!-- 读取手机状态权限 -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/><!-- 开机启动权限 -->
   	<uses-permission android:name="android.permission.READ_CONTACTS"/><!-- 读联系人权限 -->
   	<uses-permission android:name="android.permission.SEND_SMS"/> <!-- 发送短信权限 -->
   	<uses-permission android:name="android.permission.RECEIVE_SMS"/> <!-- 读取短信的权限 -->
   	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/><!-- 具体位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/><!-- 大概位置 -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/> <!-- 模拟器位置 -->
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 允许访问振动设备权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/><!-- 外拨电话权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 触摸toast窗体权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/> <!-- 电话权限 -->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/> <!-- 写通话记录 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG"/> <!-- 读通话记录 -->

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.itheima.mobilesafe" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".LostFindActivity" />
        <activity android:name=".Setup1Activity" />
        <activity android:name=".Setup2Activity" />
        <activity android:name=".Setup3Activity" />
        <activity android:name=".Setup4Activity" />
        <activity android:name=".SelectContactActivity" />
        <activity android:name=".AtoolsActivity" />
        <activity android:name=".NumberAddressQueryActivity" />

        <service android:name=".service.GPSService" />
        <service android:name=".service.AddressService" />

        <receiver android:name=".receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SMSReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyAdmin"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CallSmsSafeActivity"
            android:label="@string/title_activity_call_sms_safe" >
        </activity>
    </application>

</manifest>
